h1,h2,h3,h4,h5{
	margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height:2px;
}
a:focus{
	text-decoration:none;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EE0033; 
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
}
.navbar-brand{
	height: auto;
	padding: 0;
	line-height: normal;
	margin-top: 18px;
}
img{
	max-width:100%;
}
.container{
	position: relative;
}
.top_header{
	background-color:#EE0033;
	height:39px;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index:90;
}
.btn_signup{
	width: 128px;
	height: 44px;
	border: 1px solid #EE0033;
	border-radius: 8px;
	color: #464E5F;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	line-height: 42px;
	margin-left: 14px;
	display: block;
}
.btn_signup:hover,.btn_signup:focus{
	color: #fff;
	background: #EE0033;
	text-decoration: none;
}
.btn_signin{
	width: 128px;
	height: 44px;
	background: #EE0033;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	line-height: 42px;
	margin-left: 14px;
	display: block;
}
.btn_signin:hover,.btn_signin:focus{
	color: #fff;
	background: #085F9D;
	text-decoration: none;
}
.banner{
	background:url(../images/banner.png) no-repeat;
	background-size:cover;
	height:508px;
}
.caret{
	content: "";
	background: url("../images/menu_icon.png") no-repeat;
	width: 16px;
	height: 10px;
	border: none;
	vertical-align: middle;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.navbar-right .dropdown-menu{
	right: auto;
	left: 0;
}
.nav>li>a{
	font-weight: 500;
	color: #464E5F;
	padding:15px;
	position: relative;
	text-transform:uppercase;
	font-size:16px;
}
.navbar-toggle{
	border-color: #464E5F;
}
.navbar-toggle .icon-bar{
	background: #464E5F;
}
.nav>li.active a::before{
	content: "";
	position: absolute;
	left:0;
	bottom: -12px;
	background: #EE0033;
	width: 100%;
	height: 4px;
	display: block;
}
.nav>li.active ul li a::before{
	display:none;
}
.navbar{
	background: #fff;
	position: fixed;
	width: 100%;
	top: 39px;
	z-index: 88;
	height:76px;
	
}
.banner .container{
	height:100%;
}

.content_top{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	height:39px;
}
.content_top a{
	margin-left:8px;
	color:#fff;
	display: flex;
    align-items: center;
}
.login_top img{
	padding-right:5px;
}
.login_top{
	margin-right:20px;
}

.tit_banner h3{
	font-weight: 700;
	font-size: 35px;
	color: #EE0033;
	display: block;
	
}
.tit_h2.tit_news{
	text-align:left;
	margin-top:30px;
}
.tit_banner span{
	font-size: 22px;
	line-height: 26px;
	color: #464E5F;
	display: block;
	
	margin-top:10px;
}

.btn_about{
	width: 195px;
	height: 56px;
	display: block;
	background: #EE0033;
	border-radius: 8px;
	margin-right: 20px;
	text-align: center;
	line-height: 54px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.btn_about:hover,btn_about:focus{
	color: #fff;
	background: #085F9D;
	text-decoration: none;
}
.btn_banner{
	margin-top: 26px;
	align-items: center;
	max-width:207px;
	font-size:18px;
	font-weight:700;
	display:block;
	padding:15px 58px;
	color:#fff;
	background:#EE0033;
	border-radius:4px;
	text-align:center;
}
.btn_banner:hover{
	color:#fff;
	text-decoration:none;
	background:#DD2F2F;
}
.banner{
	margin-top: 117px;
	position: relative;
}
.bg_banner1{
	position:absolute;
	left: 0;
	top: 260px;
	background: url("../images/banner_bg01.png");
	width: 173px;
	height: 368px;
}
.whychosse{
	margin-top: 190px;
}
.tit_h2{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color:#EE0033;
}
.tit_h2 span{
	color: #EE0033;
}
.tit_h2 i{
	font-style: normal;
	color: #085F9D;
}
.box_whychosse{
	border: 1px solid #EE0033;
	padding: 20px;
	border-radius: 12px;
	margin-top: 56px;
	text-align: center;
}
.box_whychosse  h3{
	font-size: 20px;
	line-height: 32px;
	margin-top: 20px;
}
.box_whychosse span{
	font-size: 16px;
	line-height: 28px;
	margin-top: 8px;
	display: block;
}
.link_box_why{
	text-align: right;
	margin-top: 38px;
	
}
.link_box_why a{
	color: #4899D4;
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
}
.link_box_why a:hover{
	color: #085F9D;
}

.tit_story{
	padding-top: 124px;
	position: relative;
}
.tit_story h2{
	font-weight: 600;
	font-size: 48px;
	line-height: 76px;
	color: #464E5F;
	position: relative;
}
.tit_story span{
	font-size: 16px;
	line-height: 28px;
	color: #464E5F;
}
.icon_tit_story{
	background: url("../images/story_icon.png");
	width: 143px;
	height: 120px;
	display: block;
	position: absolute;
	top: 76px;
    left: -90px;
}
.comment_story{
	padding: 32px;
	box-shadow: 0px 0px 20px 0px rgba(41, 41, 42, 0.07);
	margin-top: 16px;
	margin-bottom: 16px;
	background:#fff;
}
.quote_icon{
	background: url("../images/story_icon1.png");
	width: 16px;
	height: 14px;
	display: block;
}
.comment_story h3{
	margin-top: 22px;
	font-size: 16px;
	line-height: 28px;
	color: #464E5F;
	text-align:justify;
}
.info_comt{
	margin-top: 22px;
	display: flex;
}
.avatar{
	margin-right: 16px;
}
.txt_comt h4{
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
}
.txt_comt span{
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: #969BAB;
}

.left_story{
	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
	width: 50%;
	padding-right: 10px;
	flex-direction:column;
}
.right_story{
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	width: 50%;
	padding-left: 10px;
	flex-direction:column;
}
.body_story{
	display: flex;
	overflow-y:auto;
	margin-top:40px;
}
.product_packet{
	padding-top: 115px;
	position: relative;
}
.bg_product_packet1{
	position: absolute;
	top: 0;
	right: 0;
	background: url("../images/bg_product.png");
	width: 544px;
	height: 1022px;
	z-index: -1;
}
.bg_product_packet2{
	position: absolute;
	top: 0;
	left: 0;
	background:url("../images/bg_product1.png");
	width: 522px;
	height: 1022px;
	z-index: -1;
}
.Cylinder1{
	position: absolute;
	right: 40px;
	top:16px;
	background: url("../images/product_cylinder1.png");
	width: 150px;
	height: 150px;
}
.Cylinder2{
	position: absolute;
	left: 0px;
	top:196px;
	background: url("../images/product_cylinder2.png");
	width: 138px;
	height: 276px;
	z-index: -1;
}
.Cylinder3{
	position: absolute;
	right: 0px;
	top:596px;
	background: url("../images/product_cylinder3.png");
	width: 149px;
	height: 276px;
	z-index: -1;
}
.Cylinder4{
	position: absolute;
	left: 40px;
	top:890px;
	background: url("../images/product_cylinder4.png");
	width: 189px;
	height: 186px;
	z-index: -1;
}
.product_new{
	background: url("../images/product_box_bg.png") top left no-repeat;
	width: 365px;
	height: 691px;
	margin: 0 52px;
	position: relative;
}
.icon_new{
	position: absolute;
	width: 114px;
	height: 114px;
	background: #FFCB11;
	border-radius: 50%;
	right: -8px;
    top: -26px
}
.icon_new::before{
	content: "";
	background: url("../images/product_box_icon_star.png");
	width: 72px;
	height: 72px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -36px;
	left: 50%;
	margin-left: -36px;
}
.list_product{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 116px;
	margin-bottom: 116px;
}
.content_product_new{
	width: 312px;
    margin-left: 28px;
    margin-top: 34px;
}
.content_product_new h2{
	width: 207px;
	font-weight: bold;
font-size: 48px;
line-height: 50px;
	color: #fff;
}
.price{
	font-size: 16px;
line-height: 24px;
}
.promotion_product h3{
	font-weight: bold;
font-size: 20px;
line-height: 32px;
	color: #FFCB11;
	margin-top: 31px;
	border-bottom: 2px solid #fff;
	padding-bottom: 12px;
}
.promotion_product ul{
	margin-top: 20px;
	padding-left: 0;
}
.promotion_product li{
	background: url("../images/product_icon1.png") 5px  no-repeat;
	padding-left: 35px;
	list-style: none;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	margin-bottom: 12px;
}
a.btn_demo{
	background: #FFFFFF;
border-radius: 12px;
height: 56px;
	padding: 12px 18px;
	font-weight: 600;
font-size: 20px;
	color: #085F9D;
	display: block;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
line-height: 32px;
	margin-top: 40px;
}
a.btn_demo:hover{
	background: #085F9D;
	color: #fff;
	border: 1px solid #fff;
}
.news{
	padding: 60px 0;
}
.txt_news{
	padding: 24px 28px;
	box-shadow:0px 0px 20px rgba(41, 41, 42, 0.07);
}
.box_news{
	background: #fff;
	border-radius: 12px;
	padding-bottom: 10px;
}
.txt_news h3{
	font-weight: 600;
font-size: 20px;
line-height: 32px;
	color: #EE0033;
}
.txt_news h3 a{
	color:#333;
}
.txt_news h3 a:hover{
	color:#EE0033;
}
.date_news{
	font-size: 16px;
line-height: 28px;
	padding-left: 35px;
	background: url("../images/news_date_icon.png") 0px 2px no-repeat;
	margin-top: 8px;
}
.txt_news p{
	font-size: 16px;
line-height: 28px;
	margin-top: 16px;
	margin-bottom: 0;
	text-align:justify;
}

a.more_news{
	color: #EE0033;
}
.social_news{
	display:flex;
	align-items:center;
	margin-top:10px;
}
.social_news div{
	padding-right:15px;
	color:#555555;
}
.social_news div a{
	text-decoration:none;
	color:#555555;
}
.social_news div a:hover{
	color: #DD2F2F;
}
.social_news img{
	vertical-align:top;
}
a.more_news:hover{
	text-decoration: none;
	color: #DD2F2F;
}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
	.box_flex{
		display:flex;
		align-items:stretch;
		justify-content:space-between;
	}
	.filter_news{
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.3%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.3%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.3%, 0, 0);
            transform: translate3d(33.3%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.3%, 0, 0);
            transform: translate3d(-33.3%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-control:hover, .carousel-control:focus {
	opacity: 1;
}

.carousel-control, .carousel-control {
	opacity: 1;
}
.img_news img{
	max-width: 100%;
	height: 220px;
}
.l_ico_new{
	position: absolute;
	left: -60px;
	background: url("../images/left_news.png") no-repeat;
	width: 51px;
	height: 51px;
	display: block;
	top: 50%;
	margin-top: -32px;
	opacity:.2;
}
.r_ico_new{
	position: absolute;
	right: -60px;
	background: url("../images/left_news.png") no-repeat;
	transform: rotate(180deg);
	width: 51px;
	height: 51px;
	display: block;
	top: 50%;
	margin-top: -32px;
	opacity:.2;
}
.l_ico_new:hover,.r_ico_new:hover{
	opacity:1;
}
.bg_contact{
	background: url("../images/contact_people.png");
	width: 1274px;
	height: 588px;
	position: absolute;
	left: 50%;
	margin-left: -677px;
}
.txt_contact{
	font-weight: 600;
font-size: 40px;
line-height: 76px;
text-align: center;
	position: absolute;
	top: 150px;
	right: 50px;
}
.desc_contact{
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	position: absolute;
	left: 720px;
    top: 360px;
}
.navbar-nav>li{
	list-style: none;
}
.d-flex{
	display: flex;
}
.btn_header_login{
	display: flex;
	align-items: center;
}
.btn_contact{
	width: 260px;
	height: 56px;
	display: block;
	background: #085F9D;
	border-radius: 8px;
	text-align: center;
	line-height: 54px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	left: 720px;
    top: 400px;
}
.btn_contact:hover,btn_contact:focus{
	color: #085F9D;
	background: #fff;
	border: 1px solid #085F9D;
	text-decoration: none;
}
.contact{
	margin-top: 150px;
	height: 588px;
}
.ico_bell{
	background: url("../images/contact_bell.png");
	width: 182px;
	height: 184px;
	position: absolute;
	top: -50px;
	right: 50px;
	z-index: 2;
}
.bg_bell{
	background: url("../images/contact_Bg_bell.png");
	width: 238px;
	height: 239px;
	position: absolute;
	top: -20px;
	right: -20px ;
	z-index: 1;	
}
.footer{
	background-color: #f2f2f2;
	width: 100%;
}
.content_footer{
	display: flex;
	padding: 60px 0;
}

.address_footer{
	margin-top: 28px;
	font-size: 16px;
	line-height: 28px;
	width: 376px;
	text-align:justify;
}
.link_footer{
	margin-left: 80px;
}
.link_footer h3{
	font-weight: 600;
font-size: 16px;
line-height: 28px;
	margin-bottom: 20px;
}
.link_footer ul{
	padding-left: 0;
}
.link_footer li{
	list-style: none;
	margin-bottom: 10px;
}
.link_footer li a{
	margin-bottom: 8px;
	font-size: 16px;
line-height: 28px;
	color: #464E5F;
	white-space: nowrap;
}
.bct_logo{
	margin-top: 20px;
	display: flex;
}
.bct_logo img{
	margin-right: 20px;
}
.bot_footer{
	text-align: center;
	color: #fff;
	background: #EE0033;
	line-height: 55px;
	height: 55px;
}
.bot_footer span{
	display: inline-flex;
	padding: 0 10px;
}
.show-more-less-handler{
	color: #EE0033;
}
.chid_link_footer{
	margin-top: 32px;
}
.soccial_footer a{
	margin-bottom: 15px;
	display: block;
}
.chid_link_footer img{
	margin-right: 12px;
}
.list_news{
	margin-top: 42px;
}
.feature,.story{
	background:#f5f5f5;
	padding:80px 0;
}
.box_feature{
	background:#fff;
	border-radius:4px;
	box-shadow: 0px 0px 20px rgb(41 41 42 / 7%);
	text-align:center;
	min-height:320px;
	padding:15px;
}
.img_feature{
	padding-top:20px;
	padding-bottom:22px;
}
.txt_feature h3{
	font-size:20px;
	font-weight:500;
	color:#333;
	padding-bottom:15px;
}
.txt_feature p{
	font-size:14px;
	color:#464E5F;
	text-align:justify;
}
a.more_feature{
	width:100px;
	height:34px;
	margin:15px auto;
	background:#EE0033;
	color:#fff;
	display:block;
	line-height:34px;
	border-radius:4px;
}
a.more_feature img{
	padding-right:5px;
}
a.more_feature:hover{
	text-decoration:none;
	background:#DD2F2F;
}
.benefit{
	padding:60px 0; 
}
.benefit .img_feature{
	padding-top:0px;
}
.about{
	padding:80px 30px;
}
.tit_about{
    font-size: 30px;
    font-weight: 700;
    color: #EE0033;
}
.desc_about{
	font-size:16px;
	line-height:30px;
	margin-top:10px;
	text-align:justify;
}
.bot_about .row .tit_about{
	margin-top:30px;
}
.topNav .top_header{
	display:none;
}
.topNav .navbar{
	top:0;
	transition:all 0.5s;
	box-shadow: 0px 0px 20px rgb(41 41 42 / 15%);
	
}
.box_overview{
	text-align:center;
	border: 1px solid #EE0033;
	border-radius:4px;
	padding:30px;
}
.box_overview h3{
	margin:10px 0;
}
.box_overview h3 a{
	color:#333;
	font-size:30px;
	font-weight:500;
}
.box_overview h3 a:hover{
	text-decoration:none;
	color:#EE0033;
}
.box_overview span{
	display:block;
	margin-bottom:22px;
	text-align:justify;
}
a.more_view{
	padding:10px 20px;
	height:34px;
	line-height:34px;
	background:#EE0033;
	color:#fff;
	margin:0 auto;
	border-radius:4px;
}
a.more_view img{
	padding-right:5px;
}
a.more_view:hover{
	color:#fff;
	text-decoration:none;
	background:#DD2F2F;
}
.benefit_sp .list_news{
	margin-top:0;
}
.benefit_sp .box_feature{
	margin-top:30px;
}
.box_target{
	margin-top:30px;
	text-align:center;
}
.box_target h3{
	font-size:20px;
	font-weight:500;
	margin-top:15px;
}
.price .btn_banner{
	padding:17px 20px;
	text-align:center;
	display:inline-block;
}
.box_price{
	background:#fff;
	border-top:5px solid #EE0033;
	text-align:center;
	padding:30px;
}
.note{
	display:block;
	margin-top:10px;
	font-size:12px;
}
.price_month{
	font-size:40px;
	font-weight:bold;
	color:#EE0033;
}
.price_month span{
	font-size:20px;
	font-weight:400;
	color:#000;
}
.number_carmera{
	border:1px solid #ccc;
	padding:10px;
	border-radius:4px;
	display:inline-block;
	margin-top:20px;
	color:#000;
	font-size:18px;
}
.number_carmera img{
	padding-right:10px;
}
.box_price{
	margin-top:30px;
}
.box_price ul{
	text-align:left;
	padding:0;
	margin-top:20px;
}
.box_price ul li{
	list-style:none;
	padding-left:30px;
	margin-bottom:10px;
	background:url(../images/check.png) no-repeat 0 5px;
}
.tit_h3{
	text-align:center;
	margin-top:15px;
}
.box_info{
	background:#f5f5f5;
	max-width:960px;
	margin:0 auto;
	margin-top:30px;
}
.box_form span{
	padding-bottom:5px;
	display:block;
}
.box_form{
	margin-bottom:15px;
	position:relative;
}
.left_form{
	width:45%;
}
a.link_forgot{
	position:absolute;
	right:0;
	top:0px;
	color:#EE0033;
	font-style:italic;
}
.view_pass{
	position:absolute;
	right:10px;
	top: 40px;
}
i.require{
	color:#EE0033;
}
.txt_require{
	display:none;
	margin-top:5px;
	font-size:12px;
	color:#EE0033;
}
.error .txt_require{
	display:block;
}
.error .form-control{
	border-color:#EE0033;
}
.btn_login {
	margin-top:20px;
}
.remember_pass label{
	margin-bottom:0;
	font-weight:400;
}
.flex_form{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.flex_form .form-control{
	width:70%;
}
.flex_form .btn_login{
	width:130px;
	margin-left:15px;
	margin-top:0;
}
.btn_login.default a{
	background:#999;
}
.txt_note span{
	font-size:30px;
	color: #EE0033;
}
.btn_form{
	display:flex;
	justify-content:center;
	margin-top:20px;
}
.btn_form .btn_banner{
	padding:17px 20px;
	margin:0 10px;
}
.bg_login{
	position:relative;
	height:100%;
}
.bg_login::before{
	content:"";
	position:fixed;
	z-index:-1;
	left:0;
	top:0;
	background:#f2f3f4;
	width:100%;
	height:100vh;
	padding-top:50px;
}
.form_login{
	max-width: 1075px;
	margin:0 auto;
	background:#fff;
	display:flex;
}
.logo_login{
	text-align:center;
	margin-top:20px;
}
.img_login{
	background:url(../images/img_login.png) no-repeat;
	background-size:cover;
	height:662px;
	width:50%;
	background-position:center;
}
.content_login{
	width:50%;
	position:relative;
	padding:40px;
}
.langue{
	position:absolute;
	right:15px;
	top:15px;
}
.langue a{
	margin:0 5px;
}
.tit_login{
	position:relative;
}
.tit_login h3{
	text-align:center;
	font-size:20px;
	font-weight:400;
	margin:0;
	margin:30px 0;
}
.line_login .form-control{
	height:50px;
}
.btn_login a{
	display:block;
	border-radius:4px;
	line-height:50px;
	height:50px;
	text-align:center;
	font-size:16px;
	color:#fff;
	background-color:#EE0033;
	
}
.btn_login a:hover{
	text-decoration:none;
	background-color:#DD2F2F;
}
.link_login{
	text-align:center;
	margin-top:20px;
}
.link_login a{
	color:#EE0033;
}
.back_login{
	position:absolute;
	left:0;
	top:0;
}
.remember_pass a,.link_login1 a{
	color:#EE0033;
}
.link_login1{
	margin-top:20px;
	text-align:center;
}
.txt_tit{
	text-align:center;
	margin-top:-20px;
	border-bottom:1px solid #ccc;
	padding-bottom:40px;
	margin-bottom:40px;
}
.trial{
	background:#fff;
	max-width:680px;
	margin: 0 auto;
	margin-top:40px;
	padding:50px;
	padding-top:20px;
}
.ico_chatbox{
	position: fixed;
	bottom: 65px;
	right: 40px;
	cursor: pointer;
	z-index: 77;
}
.ico_chatbox span{
	position: absolute;
	top: 20px;
	background: #fff;
	padding: 10px;
	right: 79px;
	white-space: nowrap;
	border-radius: 20px;
	display: none;
}
.ico_chatbox:hover span{
	display: block;
}
.hide_box{
	cursor: pointer;
}
.open_chat .ico_chatbox{
	display: none;
}

.box_chatbox{
	position: fixed;
	bottom: 0px;
	right: 10px;
	background: #fff;
	width: 100%;
	max-width: 320px;
	z-index: 99;
	border-radius: 4px;
	border: 1px solid #ccc;
	display: none;
	box-shadow: 1px -1px 17px rgba(0,0,0,.2);
}
.open_chat .box_chatbox{
	display: block;
}
.header_chatbox{
	height: 52px;
	line-height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	
}
.header_chatbox h3{
	font-size: 16px;
	font-weight: 500;
}
.body_chatbox{
	padding: 20px;
	height: 300px;
	overflow-y: auto;
}
.box_chat{
	background: #f5f5f5;
	padding: 5px;
	max-width: 80%;
	border-radius: 4px;
	margin-bottom: 15px;
	float: left;
}
.box_chat.user_chat{
	float: right;
	background: #EE0033;
	color: #fff;
}
.comt_chatbox{
	position: relative;
}
.comt_chatbox input{
	width: 100%;
	border: none;
	height: 45px;
	padding: 10px 20px;
	padding-right: 60px;
	outline: none;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
}
.btn_sendchat{
	position: absolute;
	right: 20px;
	top: 10px;
}
.relogin{
	position:relative;
	z-index:55;
}
.relogin ul{
	position:absolute;
	top:39px;
	background:#fff;
	width:200px;
	right:0;
	padding:0;
	box-shadow:1px 2px 4px rgba(0,0,0,.2);
	display:none;
}
.admin_body{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-top:117px;
}
.relogin:hover ul{
	display:block;
}
.relogin ul li{
	list-style:none;
}
.relogin ul li a{
	display:block;
	padding:10px 20px;
	color:#000;
	border-bottom:1px dotted #ccc;
	margin-left:0;
	font-size:16px;
}
.relogin ul li a:hover{
	text-decoration:none;
	background:#f5f5f5;
}
.info_relogin{
	margin-right:20px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	color:#fff;
	padding:10px 0;
}
.info_relogin img{
	padding:0 5px;
}
.sidebar{
	background:#f2f2f2;
}
.sidebar ul{
	padding:0;
}
.sidebar li{
	list-style:none;
}
.sidebar li a{
	font-size:16px;
	color:#000;
	display:flex;
	align-items:center;
	padding:10px;
	padding-left:25px;
}
.sidebar li a img{
	padding-right:10px;
}
.sidebar li.active a{
	background-color:rgba(0,100,85,.1);
	border-right:4px solid #EE0033;
}
.sidebar li a:hover{
	background-color:rgba(0,100,85,.1);
	text-decoration:none;
}
.backscrum{
	margin-top:15px;
}
.tit_admin{
	font-size:26px;
	margin-top:15px;
}
.filter_news{
	background:#f5f5f5;
	padding:20px;
}
.option_news{
	height:32px;
	border:1px solid #ccc;
	border-radius:4px;
	padding:0 10px;
}
.btn_new{
	display:inline-block;
	margin-left:10px;
	background:#EE0033;
	padding:6px 10px;
	color:#fff;
	border-radius:4px;
}
.btn_new:hover{
	text-decoration:none;
	color:#fff;
	background:#DD2F2F;
}
.search_news{
	background:url(../images/ico_search.png) no-repeat;
	border: 1px solid #ccc;
	border-radius:4px;
	background-position:10px 6px;
	padding:5px;
	background-color:#fff;
	padding-left:40px;
	outline:none;
}
.filter_news{
	margin-top:20px;
}
.table_list{
	margin-top:20px;
}
.table_news thead th{
	font-weight:500;
	background-color:rgba(238,0,51,.1);
}
.setting_news{
	text-align:center;
}
.setting_news a{
	display:inline-block;
	margin:0 5px;
}
.modal-2 li:first-child a {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
}
.modal-2 li:last-child a {
    -moz-border-radius: 0 50px 50px 0 ;
    -webkit-border-radius: 50px;
    border-radius: 0 50px 50px 0;
}
.modal-2 a.active, .modal-2 a:active,.modal-2 a.active:hover {
    border-color: #EE0033;
    background: #EE0033;
    color: #fff;
}
.pagination>li>a, .pagination>li>span{
	color:#000;
}
.paging{
	text-align:center;
}
.table_list .table{
	margin-bottom:0;
}

.fileUploadInput {
  display: grid;
  position: relative;
  z-index: 1;
}
.fileUploadInput label {
	margin-bottom: 5px;
  display: flex;
  align-items: center;
  transition: 0.4s ease;
	font-weight: 400;
}
.fileUploadInput label span{
	font-size: 12px;
	color: #999;
}
.fileUploadInput input {
  position: relative;
  z-index: 1;
  padding: 0 gap(m);
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.fileUploadInput input[type=file] {
  padding: 0 gap(m);
  outline:none;
}
.fileUploadInput input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 50px;
  width: 0px;
}
.fileUploadInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 80px;
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f5f5f5;
  border-radius: 0 4px 4px 0;
  border:none;
  border-left:1px solid #ccc;
}
.btn_banner.cancel_btn{
	background:#9D9D9C;
}
.btn_banner.cancel_btn:hover{
	background:#888;
}
.btn_bot_new{
	display:flex;
	justify-content:flex-start;
}
.btn_bot_new .btn_banner{
	max-width:none;
}
.admin_body_txt{
	margin-top:20px;
}
.sub_menu{
	padding-left:30px;
}
.table.text-center th{
	text-align:center;
}
.search_right{
	height:40px;
	border-radius:4px;
	padding:5px 10px;
	border: 1px solid #ccc;
	font-size:16px;
	color:#333;
	font-weight:normal;
	padding-left:40px;
	background:url(../images/ico_search.png) no-repeat;
	background-position:10px 10px;
	outline:none;
}
.list_box_news{
	margin-top:30px;
}
.box_news_list{
	border-bottom:1px solid #ccc;
	padding-bottom:30px;
	margin-bottom:30px;
}
.txt_box_news h3 a{
	font-size:22px;
	color:#000;
}
.txt_box_news .social_news img{
	vertical-align:middle;
}
.btn_seemore{
	margin-top: 10px;
    align-items: center;
    font-size: 14px;
    display: inline-block;
    padding: 7px 30px;
    color: #fff;
    background: #EE0033;
    border-radius: 4px;
    text-align: center;
}
.btn_seemore:hover,.btn_seemore:focus{
	color:#fff;
	text-decoration:none;
	background:#DD2F2F;
}
.h2_support{
	color:#EE0033;
	font-size:32px;
}
.h2_support{
	padding-top:20px;
	font-weight:bold;
	display:flex;
	align-items:center;
}
.h2_support span{
	padding-right:15px;
}
.menu_right{
	border:1px solid #ccc;
	border-radius:4px;
}
.menu_right ul{
	padding:0;
	margin:0;
}
.menu_right li{
	list-style:none;
}
.menu_right li a{
	color:#000;
	font-size:20px;
	padding:10px 20px;
	display:block;
	border-bottom:1px solid #ccc;
}
.menu_right li:last-child a{
	border:none;
}
.menu_right li ul li:last-child a{
	border-bottom:1px solid #ccc;
}
.menu_right li ul {
	display:none;
}
.menu_right li:hover ul,.menu_right li.active ul {
	display:block;
}
.menu_right li.active a{
	background:#f5f5f5;
	font-weight:bold;
}
.menu_right li.active ul li a{
	background:#fff;
	font-weight:400;
}
.menu_right li.active ul li.active a{
	font-weight:bold;
}
.menu_right li.active a:hover{
	text-decoration:none;
	background:#f5f5f5;
}
.menu_right li a:hover{
	text-decoration:none;
	background:#f5f5f5;
}
.menu_right li ul li a{
	padding-left:50px;
}
.box_support{
	margin-top:30px;
	margin-bottom:40px;
}
.tab-content{
	background:#f2f2f2;
	padding:30px;
	border-radius:0 0 4px 4px;
}
.list_tab li{
	list-style:none;
	display:inline-block;
}
.list_tab li a{
	display:block;
	padding:5px 10px;
	cursor:pointer;
	font-size:18px;
	color:#000;
}
.list_tab li.active a{
	color:#fff;
	background:#EE0033;
	
}
.list_tab ul{
	padding:0;
	margin:0;
}
.line_download{
	border:1px solid #ccc;
	display:flex;
	justify-content:space-between;
	margin-bottom:15px;
}
.name_file{
	padding:10px;
}
.btn_download{
	padding:10px 20px;
	color:#fff;
	background:#EE0033;
	display:inline-block;
}
.btn_download:hover{
	text-decoration:none;
	color:#fff;
	background:#DD2F2F;
}
.question_txt{
	font-size:20px;
	font-weight:bold;
}
.answer_txt{
	margin-top:10px;
	margin-left:40px;
	font-size:20px;
}
.link_blog{
	display:flex;
	justify-content:flex-end;
	margin-top:10px;
}
.link_blog a{
	background:#EE0033;
	padding: 5px 15px;
	border-radius:4px;
	color:#fff;
}
.line_faq{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
.short_new{
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:20px;
	padding-bottom:20px;
}
.img_news_detail{
	padding-bottom:20px;
}
.comment_news{
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:20px;
	padding-bottom:20px;
}
.tit_comt{
	font-size:18px;
	font-weight:bold;
}
.box_content_bl{
	display:flex;
}
.content_bl{
	
	padding-top:20px;
	position:relative;
}
.content_bl .content_bl{
	padding-left:46px;
}
.line_content{
	border-bottom:1px dotted #ccc;
	padding-bottom: 20px;
}
.reply_bl{
	margin-top:5px;
	display:inline-block;
	padding:5px;
	background:#f2f2f2;
	border-radius:4px;
}
.btn_bl{
	text-align:right;
}
.reply_bl:hover{
	background:#e6e6e6;
	text-decoration:none;
}
.txt_bl{
	padding-left:15px;
	width:calc(100% - 46px);
}
.txt_bl h4{
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
}
.txt_bl span{
	font-size:14px;
	
}
.other_news{
	padding:60px 0;
}
.author{
	border-top:1px solid #ccc;
	padding-top:5px;
	margin-top:15px;
}
.line_sizing h3{
	font-size:24px;
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	font-weight:400;
}
.throughput{
	padding-left:30px;
}
.function{
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
}
.storage_throughput{
	display:flex;
	justify-content:flex-start;
}
.line_sizing{
	margin-top:30px;
}
.sizing{
	margin-bottom:40px;
}
.line_sizing table{
	width:100%;
}
.line_sizing th,.line_sizing td{
	padding:5px;
}
.line_sizing th{
	background-color:rgba(238,0,51,.1);
	text-align:center;
	vertical-align:top;
}
.line_sizing td{
	background:#f2f2f2;
}
.line_sizing th p{
	font-weight:400;
	font-size:12px;
	margin-bottom:0;
}
.input_sizing{
	min-width:85px;
}
.input_sizing{
	padding:0 5px;
	border:1px solid #ccc;
	background:#fff;
	width:100%;
	height:35px;
	line-height:35px;
}
.input_sizing:disabled{
	background:#f5f5f5;
	color:#999;
}
.tit_table{
	height:50px;
	background:#fff !important;
}
.tit_table span{
	font-size:18px;
	font-weight:bold;
}
.line_right_blog .search_right{
	width: 100%;
}
.line_right_blog{
	margin-bottom: 20px;
}
.line_right_blog h4{
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.line_right_blog .form-control{
	height: 40px;
}
a.btn_blog{
    font-size: 18px;
    font-weight: 700;
    display: block;
    padding: 15px 58px;
    color: #fff;
    background: #EE0033;
    border-radius: 4px;
    text-align: center;
}
a.btn_blog:hover{
	color:#fff;
	text-decoration:none;
	background:#DD2F2F;
}
.btn_blog img{
	vertical-align: middle;
	padding-right: 5px;
}
.right_blog{
	margin-top: 30px;
}
.comt_box{
	margin-top: 20px;
}
.create_blog{
	margin-bottom: 40px;
}
@media only screen and (min-width: 1000px) {
	.btn_bot_new .btn_banner{
		margin-bottom: 40px;
		margin-right: 20px;
}
	.right_blog{
		width: 25%;
		padding-left: 30px;
	}
	.blog_list{
		width: 75%;
	}
	.blog_flex{
		display: flex;
		flex-direction: row-reverse;
	}
	.short_new{
		font-size:18px;
		font-weight:500;
	}
	.w100{
		width:100% !important;
	}
	.box_support{
		display:flex;
		 flex-direction: row-reverse;
		 align-items: flex-start;
	}
	.content_left{
		width:70%;
		padding-right:30px;
	}
	.menu_right{
		width:30%;
	}
	.txt_box_news p{
		font-size:18px;
		margin-top:10px;
		margin-bottom:0;
	}
	.box_news_list{
		display:flex;
		justify-content:flex-start;
	}
	.img_box_news{
		width:20%;
	}
	.txt_box_news{
		padding-left:20px;
		width:80%;
	}
	.tit_news{
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	.sidebar{
		padding-top:70px;
		padding-bottom:40px;
		width:25%;
		border:1px solid #ccc;
		border-top:none;
		border-bottom:none;
	}
	.right_admin{
		width:75%;
		padding-left:30px;
	}
	.form_trial{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.form_trial .line_login{
		width:47%;
	}
	.box_info{
		padding:35px 70px; 
	}
	.list_form{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		
	}
	.txt_mota{
		font-size:16px;
		text-align:justify;
	}
	.box_overview{
		min-height:352px;
	}
	.benefit .box_feature{
		min-height:187px;
		box-shadow:none;
	}
	.benefit .txt_feature p{
		min-height:60px;
		margin-bottom:0;
	}
	.txt_feature p{
		min-height:100px;
	}
	.benefit_sp .txt_feature p{
		min-height:70px;
		margin-bottom: 0;
	}
	.benefit_sp .box_feature{
		min-height:315px;
	}
	
	.navbar-brand{
		margin-left: 0px;
	}
	.img_banner{
		top:30px;
		position: absolute;
		right:0px;
	}
	.tit_banner{
		top:170px;
		
		position: absolute;
		width:618px;
	}
	
}


@media only screen and (max-width: 1200px) {
	.nav>li.active a::before{
		bottom:0;
		height:2px;
	}
	.navbar-toggle{
		display: block;
		margin-top: 22px;
		margin-bottom:20px;
	}
	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .dropdown-menu>li>a {
		line-height: 20px;
	}
	.navbar-nav .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px;
	}
	.content_footer{
		justify-content: space-between;
	}
	
	.product_packet{
		padding-top: 60px;
	}
	.txt_contact{
		right: 0;
		text-align: right;
		top: 70px;
		line-height: 60px;
	}
	.desc_contact{
		left: auto;
		right: 0;
		top: 240px;
	}
	.btn_contact{
		top: 280px;
		left: auto;
		right: 0;
	}
	.product_feature:last-child{
		margin-left: 20px;
	}
	.box_whychosse h3{
		height: 64px;
	}
	
	.navbar-nav>li>a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.btn_signup,.btn_signin{
		width: 95px;
		margin-left: 0px;
		font-size: 12px;
		margin-right: 15px;
	}
	
	
	
	.comment_story{
		width: auto !important;
	}
	.link_footer{
		margin-left: 30px;
	}
	.bg_contact{
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		left: auto;
		margin-left: auto;
		height: 455px;
	}
	.contact{
		height: 480px;
	}
	.box_benefit{
		width: 100%;
	}
	.list_news{
		margin: 0 -15px;
		margin-top: 17px;
	}
	.Cylinder1{
		display: none;
	}
	.txt_news{
		padding: 15px;
	}
	.txt_news h3{
		font-size: 15px;
		line-height: 24px;
	}
	.txt_news p{
		font-size: 13px;
		line-height: 20px;
		margin-top: 10px;
	}
	.coin2{
		display: none;
	}
	
	.icon_tit_story{
		left: 0
	}
	.Cylinder4{
		display: none;
	}
	
	.Cylinder1,.Cylinder2,.Cylinder3{
		background-repeat: no-repeat;
		background-size: 50%;
	}
	.bg_product_packet1,.bg_product_packet2{
		display: none;
	}
	.list_product{
		margin-bottom: 60px;
		margin-top: 60px;
	}
	.product_feature:first-child{
		display: none;
	}
	
	.product_new{
		margin: 0;
	}
	.footer{
		margin-top: 0;
	}
	
	.r_ico_new{
		top: -60px;
		margin-top: 0;
		right: 15px;
		width: 32px;
		height: 32px;
		background-size: 100%;
	}
	.l_ico_new{
		top: -60px;
		margin-top: 0;
		left: 15px;
		width: 32px;
		height: 32px;
		background-size: 100%;
	}
	#navbar{
		background: #fff;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
	.tit_banner{
		width:50%;
		top:110px;
	}
	.r_ico_new,.l_ico_new{
		top:0;
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.form_login{
		max-width:90%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
	.sidebar{
		width:33%;
	}
	.right_admin{
		width:67%;
		padding-left:30px;
	}
}
@media only screen and (min-width: 1200px){
	.box_menu{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top:15px;
	}
	
}
@media only screen and (max-width: 1000px) {
	.sizing{
		overflow-x:auto
	}
	.img_login{
		display:none;
	}
	.content_login{
		width:100%;
		padding:20px;
	}
	.about{
		padding:40px 15px;
	}
	.tit_about{
		margin-top:30px;
	}
	.benefit .box_feature{
		min-height:186px;
	}
	.r_ico_new{
		right:15px;
		top:-60px;
	}
	.l_ico_new{
		left:15px;
		top:-50px;
	}
	.nav>li>a{
		padding-left:0;
	}
	
	.tit_banner{
		text-align:center;
		padding-top:20px;
	}
	.img_banner{
		text-align:center;
		padding-bottom:20px;
	}
	.btn_banner{
		margin:15px auto;
	}
	.banner{
		height:auto;
	}
	
	.navbar-nav{
		margin: 0;
	}
	
	
	.product_feature img{
		max-width: 100%;
	}
	.content_footer{
		display: block;
		padding-top: 30px;
	}
	.address_footer{
		width: auto;
		margin-top: 15px;
	}
	.bct_logo{
		margin-top: 15px;
	}
	.link_footer{
		margin-left: 0;
		margin-top: 30px;
	}
	.footer{
		height: auto;
		margin-top: 0px;
	}
	.logo_footer{
		margin-top: 0;
	}
	.link_footer h3{
		margin-bottom: 10px;
	}
	.desc_contact{
		left: auto;
		right: 15px;
	}
	.btn_contact{
		right: 15px;
		left: auto;
	}
	.txt_contact{
		text-align: right;
		right: 15px;
	}
	.box_whychosse h3{
		height: auto;
		margin-top: 0;
	}
	.img_whychose img{
		height: 80px;
	}
	.box_whychosse{
		margin-top: 20px;
		padding: 10px;
	}
	.link_box_why{
		text-align: center;
		margin-top: 15px;
	}
	.tit_h2{
		font-size: 30px;
		line-height: 50px;
	}
	.contact {
		height: 420px;
		margin-top: 60px;
	}
	.txt_contact{
		font-size: 30px;
		line-height: 50px;
	}
	.desc_contact {
		top: 220px;
	}
	.btn_contact{
		top: 260px;
	}
	.ico_bell{
		background-size: 100%;
		width: 100px;
		background-repeat: no-repeat;
		top:0;
	}
	.img_news img{
		height: auto;
	}
	
}


@media only screen and (max-width: 767px) {
	.bot_footer{
		line-height: normal;
		height: auto;
		padding: 15px 0;
		text-align: left;
		
	}
	.bot_footer span{
		display: block;
		margin-bottom: 5px;
	}
	.btn_bot_new{
		display: block;
		margin-bottom: 30px;
	}
	a.btn_blog{
		font-size: 16px;
	}
	.txt_box_news .social_news img{
		height: 13px;
	}
	.social_news div{
		font-size: 12px;
		padding-right: 10px;
	}
	.modal-2 li a{
		display:none;
	}
	.modal-2 li a.prev,.modal-2 li a.next,.modal-2 li a.active{
		display:block;
	}
	.txt_box_news h3 a{
		font-size:18px;
	}
	.box_news_list{
		margin-bottom:15px;
		padding-bottom:15px;
	}
	.txt_box_news p{
		margin-bottom:0;
	}
	.search_right{
		width:100%;
	}
	.txt_box_news{
		margin-top:20px;
	}
	.table_list{
		overflow-x:auto;
	}
	.box_menu{
		padding-bottom:15px;
	}
	#navbar{
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
	}
	.tit_admin{
		font-size:20px;
		font-weight:bold;
	}
	.right_filter{
		margin-top:15px;
	}
	.search_news{
		width:100%;
	}
	.ico_chatbox img{
		height:50px;
	}
	.ico_chatbox{
		right:10px;
		bottom:20px;
	}
	.box_chatbox{
		right:0;
		max-width:none;
	}
	.tit_login h3{
		font-size:16px;
		margin:20px 0;
	}
	.bg_login{
		padding:10px;
	}
	.box_info{
		padding:15px; 
	}
	.left_form{
		width:100%;
	}
	.box_target, .box_price{
	margin-top:15px;
}
	.benefit_sp .box_feature{
	margin-top:20px;
}
	.box_overview h3 a{
		font-size:23px;
	}
	.overview .list_news{
		margin-top:0;
	}
	.box_overview{
		margin-top:20px;
	}
	.feature,.benefit.story{
		padding:40px 0;
	}
	.navbar-brand>img{
		height:28px;
		margin-left:15px;
	}
	.navbar-brand{
		margin-top:15px;
	}
	.navbar-toggle{
		margin-top:14px;
		margin-bottom:13px;
	}
	.navbar {
		height:61px;
	}
	.glyphicon-menu-right {
		margin-left: 20px;
	}

	.glyphicon-menu-left {
		right: 28px;
	}
	.tit_h2,.tit_about{
		font-size: 25px;
		line-height: 30px;
	}
	
	.box_whychosse span{
		font-size: 12px;
		margin-top: 0;
	}
	.box_whychosse h3{
		font-size: 16px;
	}
	.benefit{
		height: auto;
	}
	.body_story{
		display: block;
	
	}
	.left_story, .right_story{
		width: 100%;
		padding: 0;
	}
	.comment_story{
		padding: 15px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.comment_story h3{
		font-size: 14px;
		margin-top: 15px;
	}
	.product_packet{
		padding-top: 60px;
	}
	.Cylinder1{
		display: none;
	}
	.product_new{
		background-size: 100%;
		width: 340px;
		margin: 0 auto;
	}
	.content_product_new h2{
		font-size: 36px;
	}
	.content_product_new{
		width: 100%;
		margin-left: 0;
		padding: 0 15px;
		padding-top: 30px;
	}
	.list_product{
		display: block;
		margin-bottom: 0;
		margin-top: 40px;
	}
	.address_footer{
		font-size: 13px;
	}
	.link_footer li a{
		font-size: 14px;
	}
	.product_feature{
		display: none;
	}
	.Cylinder4{
		display: none;
	}
	.news{
		padding: 40px 0;
	}
	.item{
		margin: 0 -15px;
	}
	.list_news{
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
		position:relative;
	}
	
	.txt_news{
		padding: 0;
		padding-top: 10px;
	}
	.bg_bell,.ico_bell{
		display: none;
	}
	.txt_contact{
		position: relative;
		top: auto;
		right: auto;
		text-align: center;
		font-size: 23px;
		line-height: 32px;
		margin-top: 10px;
	}
	.bg_contact{
		position: relative;
		left: auto;
		margin-left: auto;
		height: 220px;
	}
	.contact{
		height: auto;
	}
	.desc_contact{
		position: relative;
		top: auto;
		right: auto;
		margin-top: 20px;
		text-align: center;
	}
	.btn_contact{
		position: relative;
		top: auto;
		right: auto;
		margin: 0 auto;
		margin-top: 10px;
	}
	
	.bg_product_packet1,.bg_product_packet2{
		display: none;
	}
	.tit_banner h3{
		font-size:20px;
	}
	.tit_banner span{
		font-size:16px;
		margin-top:10px;
		line-height:19px;
	}
	.btn_banner{
		margin:10px auto;
		font-size:16px;
		padding:10px 20px;
	}
	.btn_form .btn_banner{
		padding:5px 10px;
	}
	.bg_banner1{
		display: none;
	}
	.coin1{
		display: none;
	}
	.macbook{
		position: relative;
		width: 340px;
		right: auto;
		top: auto;
		height: 250px;
		background-position: center top;
		margin: 0 auto;
	}
	.banner{
		margin-top: 100px;
	}
	.banner_hand{
		width: 220px;
		height: 180px;
		top: 70px;
	}
	.btn_banner{
		margin-top: 20px;
		justify-content:center;
	}
	.btn_seemore,.btn_about{
		font-size: 14px;
		margin-right: 0;
		max-width: 160px;
	}
	.btn_seemore{
		margin-right: 15px;
	}
	.whychosse{
		margin-top: 60px;
	}
	.tit_story{
		padding-top: 80px;
	}
	.tit_story h2{
		font-size: 25px;
		line-height: 33px;
	}
	.icon_tit_story{
		top: 40px;
		background-size: 60%;
		background-repeat: no-repeat;
	}
	.tit_story span{
		font-size: 14px;
	}
}